[user]
	name = Nace Logar
[commit]
	gpgsign = true
[push]
	# prevents your from accidentally pushing to a wrong branch
	default = nothing
[alias]
	dic   	= diff --cached
	chk   	= checkout
	ci   	= commit
	cm   	= commit -m
	st   	= status
	br   	= branch
	lg   	= !git log --graph --pretty='format:%C(yellow)%h%C(reset) -%C(red)%d%C(reset) %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	slog 	= log --oneline
	sig		= verify-commit HEAD^
	rb   	= rebase
	rbc  	= rebase --continue
	rba  	= rebase --abort
	rbi  	= rebase -i
	fap  	= fetch --all --prune --progress
	latest 	= for-each-ref --sort=-committerdate refs/heads refs/remotes --format='%(committerdate:iso8601) %(refname:short)%(authorname)'
[gpg]
	program = gpg-default
