init-author-name=Nace Logar
init-author-email=the.code.destroyer@gmail.com
init-author-url=https://thecodedestroyer.com
init-license=MIT
init-version=0.0.1
save-exact=true
# pnpm: packages must be at least 14 days old (value is in minutes)
minimum-release-age=20160
