# `sheldon` configuration file
# ----------------------------
#
# You can modify this file directly or you can use one of the following
# `sheldon` commands which are provided to assist in editing the config file:
#
# - `sheldon add` to add a new plugin to the config file
# - `sheldon edit` to open up the config file in the default editor
# - `sheldon remove` to remove a plugin from the config file
#
# See the documentation for more https://github.com/rossmacarthur/sheldon#readme

shell = "zsh"

[templates]
defer = "{% for file in files %}zsh-defer source \"{{ file }}\"\n{% endfor %}"

[plugins]

[plugins.zsh-defer]
github = "romkatv/zsh-defer"

[plugins.powerlevel10k]
github = 'romkatv/powerlevel10k'

[plugins.zsh-completions]
github = 'zsh-users/zsh-completions'

[plugins.fast-syntax-highlighting]
github = 'zdharma-continuum/fast-syntax-highlighting'

[plugins.zsh-history-substring-search]
github = 'zsh-users/zsh-history-substring-search'

[plugins.alias-tips]
github = 'djui/alias-tips'

[plugins.fasd]
github = 'clvv/fasd'
use = ['fasd']

[plugins.orbstack]
github = 'orbstack/orbstack'
use = ['orb.plugin.zsh']

[plugins.ohmyzsh-lib]
github = 'ohmyzsh/ohmyzsh'
dir = 'lib'
use = [
	'{git}.zsh'
]

[plugins.ohmyzsh]
github = 'ohmyzsh/ohmyzsh'
dir = 'plugins'
use = [
	'{history,sudo,colored-man-pages,command-not-found}/*.plugin.zsh',
	'{encode64,extract,fasd,mise}/*.plugin.zsh',
	'{git,gitfast,git-extras,gh}/*.plugin.zsh',
	'{node,mise,npm,bun,brew}/*.plugin.zsh',
	'{docker,docker-compose,ansible,kubectl,helm}/*.plugin.zsh',
	'{aws,gcloud}/*.plugin.zsh'
]

[plugins.ohmyzsh-linux]
github = 'ohmyzsh/ohmyzsh'
dir = 'plugins'
use = [
	'{debian,minikube}/*.plugin.zsh',
]
profiles = ['linux']

[plugins.ohmyzsh-macos]
github = 'ohmyzsh/ohmyzsh'
dir = 'plugins'
use = [
	'{macos}/*.plugin.zsh',
]
profiles = ['macos']

[plugins.compinit]
inline = 'autoload -Uz compinit && zsh-defer compinit'
